/*stylesheet written in SASS*/

$logo_color: #e62000

body
    text-align: center
    background-color: lavender
    margin: auto auto auto auto
    width: 80%

header
    >h1
        font-size: 4em
        margin: 0 auto 0 auto

        >span
            color: $logo_color
    >p
        font-size: 1em

.content
    text-align: center

    h1
        font-size: 2em

footer
    >p
        font-size: 0.8em
